.container {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.fill-space {
    flex: 1;
    /*background-color: lightblue;*/
}

.align-top {
  align-self: start;
}

.monospace {
  font-family: monospace, monospace;
}