/*
 * Flexbox grid layouts
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */

/*.root-container * {
  all: initial;
  font-family: var(--theme-text-font);
}*/

.container, .root-container {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.no-wrap {
  flex-wrap: nowrap;
}

.no-shrink {
  flex-shrink: 0;
}

.fill-space {
  flex: 1;
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.h100 {
  height: 100%;
}

.h50 {
  height: 50%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.align-top {
  align-self: start;
}
